* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    margin: 0;
    min-height: 100vh;
  }

h1,
h2{
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: #1f2937;
    height: 60px;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.navbar a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.header {
    background: #1f2937;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.header p {
    color: #e5e7eb;
    font-size: 18px;
    width: 550px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container img {
    height: 200px;
    width: 550px;
    border: 2px solid blue;
}

.information h2 {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 36px;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.information {
    min-height: 400px;
}

.box {
    width: 175px;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
}

.box p {
    text-align: center;
}

.box img {
    height: 175px;
    width: 175px;
    border: 3px #3882f6 solid;
    border-radius: 10%;
}

.information .boxes {
    display: flex;
    justify-content: space-around;
}

.quote {
    background-color: #e5e7eb;
    height: 100%;
    min-height: 400px;
    display: flex;
}

.quote .container {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote .quote-main {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote .quote-signature {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.sign-up {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-up .container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
}

